.banner {
    display: flex;
    justify-content: left;
    padding-left: 1%;
    font-size: 12px;
    font-weight: bold;
}

.banner pre {
    color: #0027ff;
}

.query_box {
    margin-top: -18px;
    margin-left: 8px;
    margin-right: 8px;
    height: 218px;
}

.editor .ace_wrap {
    height: 348px;
    width: 100%;
    font-size: 14px;
    /*background-color: #141414;*/
    /*color: #F8F8F8;*/
}

.button_box #runButton, .button_box #stopButton  {
    color: #000;
    padding: .42rem 1.07rem;
    margin: .375rem;
    border-radius: .225rem;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.runnable {
    background-color: #00c851;
    cursor: pointer;
}
.disRunnable {
    background-color: gray;
    cursor: default;
}

